*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}
.game-container{
    display: flex;
    gap: 3em;
    justify-content: center;
}
.player-container{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 2em 0 ;

}
.option {
background-color: red;
height: 200px;
width: 200px;
text-align: center;
border-radius: 0.5em;
}

.btn{
    font-size: 66px;
    border:none;
    outline: none;

    background: none;
}
.btn:hover {
    transform: scale(1.3);
}

.round-results{
    font-size: 24px;
}